[submodule "wuffy/FPDesignAndProgramming"]
	path = wuffy/FPDesignAndProgramming
	url = https://github.com/UsrNameu1/FPDesignAndProgramming
[submodule "ven/scara-prac"]
	path = ven/scara-prac
	url = https://github.com/cm-wada-yusuke/scala-prac.git
[submodule "igachan/scala-sandbox"]
	path = igachan/scala-sandbox
	url = git@github.com:cm-igarashi-ryosuke/scala-sandbox-1.git
[submodule "wuffy/ScalaDwangoText"]
	path = wuffy/ScalaDwangoText
	url = https://github.com/UsrNameu1/ScalaDwangoText
